<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50">

    <div class="flex justify-center p-5">
        <h1 class="text-rose-500 text-2xl">Scoreboard</h1>
    </div>
    <div class="flex justify-center">
        <form action="/add" method="post" class="flex gap-2">
            <input type="text" name="name" placeholder="Name" required class="px-5 py-1 rounded-xl">
            <input type="number" name="score" placeholder="Score" required class="px-5 py-1 rounded-xl">
            <button type="submit" class="bg-rose-500 px-5 py-1 rounded-xl text-white text-sm border border-rose-500 hover:bg-gray-50 hover:text-rose-500 transition">Add</button>
        </form>
    </div>
    
    <div class="flex justify-center p-10">
        <table class="border border-rose-500 text-rose-500">
            <tr>
            <th class="px-2 py-1">Name</th>
            <th class="px-2 py-1">Score</th>
            </tr>
            <% scores.forEach(score => { %>
            <tr>
                <td class="px-5 border border-rose-500"><%= score.name %></td>
                <td class="px-5 border border-rose-500"><%= score.score %></td>
            </tr>
            <% }); %>
        </table>
    </div>
    
</body>
</html>